<template>
  <require from="./chat.css"></require>
  <require from="../app.css"></require>
  <h1>Hello, ${username} !</h1>
  <section>
    <main>
      <div class="chatbox">
        <p repeat.for="msg of messages">${msg}</p>
      </div>
      <form submit.trigger="post()">
        <input type="text" value.bind="newPost">
        <input type="submit" value="Send">
      </form>
    </main>
    <aside>
      <h2>Users</h2>
      <ul>
        <li repeat.for="user of users">${user.username}</li>
      </ul>
    </aside>
  </section>
</template>
